<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tribute to Christopher Nolan</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif, sans-serif;
      background-color: #ffe1e1;
    }


    .jumbotron {
      background-image: url("surya.png");
      background-size: cover;
      background-repeat: no-repeat;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 150px;
    }

    .jumbotron h1 {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .jumbotron p {
      font-size: 24px;
    }

    .container {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .thumbnail {
      display: inline-block;
      margin-bottom: 30px;
    }

    .thumbnail img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 767px) {
      .jumbotron {
        padding: 50px;
      }

      .jumbotron h1 {
        font-size: 36px;
      }

      .jumbotron p {
        font-size: 18px;
      }
    }
  </style>
</head>

<body>
  <div class="jumbotron">
    <h1>Suryakumar Yadav</h1>
    <p>One of the best T-20 cricket player</p>
  </div>

  <div class="container">
    <h2>Biography</h2>
    <p>Suryakumar Yadav is an Indian cricketer who plays as a right-handed batsman. He was born on December 14, 1990, in Mumbai, Maharashtra, India. Suryakumar Yadav is known for his aggressive and stylish batting style, and he has made a name for himself in domestic cricket and the Indian Premier League (IPL). Please note that my information might not include events or developments in his career that occurred after September 2021.</p>
  </div>

  <div class="container">
    <h2>Early Career</h2>
    <p>Suryakumar Yadav started his cricketing journey at a young age and quickly rose through the ranks of Mumbai's cricketing system. He represented Mumbai in domestic cricket and made his debut for the Mumbai senior team in the Ranji Trophy.</p>
  
    <h2>IPL Carrer</h2>
    <p>Suryakumar Yadav has been a regular feature in the Indian Premier League (IPL). He has played for various teams, including the Mumbai Indians (MI) and Kolkata Knight Riders (KKR). His consistent performances in the IPL earned him a reputation as a dynamic middle-order batsman.</p>
    

    <h2>Mumbai cricket</h2>
    <p> He has been an integral part of the Mumbai cricket team, contributing significantly to their domestic successes. His performances in the Ranji Trophy and other domestic competitions earned him a place in the Indian cricketing circuit.</p>
    
    <h2>Indian Call-up</h2>
    <p> Suryakumar Yadav's consistent performances in domestic cricket and the IPL finally earned him a call-up to the Indian national team. He made his international debut for India in a T20I match against England in March 2021.</p>
    
    <h2>Playing Style</h2>
    <p>Suryakumar Yadav is known for his ability to play a wide range of shots and his aggressive approach to batting. He is considered a versatile batsman who can adapt to different formats of the game.</p>
   
  </div>

  <div class="container">
    <h2>Different shots</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="shot2.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="shot3.jpg" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="shot5.jpg" >
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min"></script>

 